body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    color: #333;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

marquee {
    background: #444;
    color: white;
    padding: 10px 0;
    font-weight: bold;
}

main {
    padding: 20px;
}

.car {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.car:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.car img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}


footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-top: 40px;
}

